@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  align-items: center;
}
header,
body,
body button {
  margin: 0 auto;
  text-align: center;
  background-color: #adf6b1;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-shadow: 2px 2px 2px #717c89;
  font-size: 20px;
}
header h1 {
  padding-bottom: 5em;
}
.welcome {
  width: 75%;
  padding-top: 2em;
  padding-bottom: 2em;
}
.welcome h2 {
  font-size: 3em;
}
.headercontainer,
.walkinginfocontainer {
  background-color: #8aa2a9;
}
.headercontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0em, 2em, 0em, 2em;
}
.header__logo {
  margin: 0;
  padding-left: 1em;
}
.header__logo img {
  width: 150x;
  height: auto;
}

.header__nav {
  margin: 0;
}
.header__nav ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.header__nav li a {
  padding-right: 10px;
  font-size: 2em;
  text-decoration: none;
  list-style-type: none;
  color: white;
}
.selection {
  padding: 1em;
}
.selection button {
  border-radius: 5px;
  padding: 0.5em;
  border-style: none;
  background-color: #90baad;
  font-weight: bold;
}
.walkinginfocontainer {
  padding: 1em;
  border-radius: 5px;
  width: 75%;
}
.walkinginfocontainer p {
  font-size: 1em;
}
#map {
  height: 500px;
  width: 80%;
}
.hidden {
  display: none;
}
footer {
  padding-top: 3em;
}
@media only screen and (max-width: 800px) {
  #map {
    height: auto;
    width: 100%;
  }
  .walkinginfocontainer {
    padding: 1em;
    border-radius: 5px;
    width: 100%;
  }
  .welcome {
    width: 75%;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  header,
  body,
  body button {
    margin: 0 auto;
    text-align: center;
    background-color: #adf6b1;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-shadow: 2px 2px 2px #717c89;
    font-size: 16px;
  }
  .welcome h2 {
    font-size: 1em;
  }
}
